@import "./font.scss";
@import "./image-upload";

:root {
    --primary: #065f46;

  }
//   text transparent 
  .border-text {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}



// font family
body{
    font-family: "DM Sans", sans-serif;
}




.category-filter {
    input[type="checkbox"]:checked + label{
        .icon {
            @apply border-4 border-secondary;
        }
    }
}


/* hamburg menu */
.elegance-hamburger-menu {
    @apply inline-flex;
}
.elegance-hamburger-menu .elegance-hamburger-menu__btn--active span {
    @apply rotate-45 before:rotate-[0] before:top-0 after:rotate-90 after:top-0;
}
.elegance-hamburger-menu__btn {
    @apply flex items-center w-[24px] h-[24px] relative cursor-pointer;
}
.elegance-hamburger-menu__btn span {
    @apply block absolute w-full h-[3px] bg-white transition-all duration-[0.3s] ease-[ease-in-out] before:-top-2 after:top-2;
}
.elegance-hamburger-menu__btn span::before,
.elegance-hamburger-menu__btn span::after {
    @apply content-[""] block absolute w-full h-[3px] bg-white transition-all duration-[0.3s] ease-[ease-in-out];
}
.swiper-button-prev::after, .swiper-button-next::after{
    color:#ffffff !important;
    font-size: 20px !important;
}
